<%= content_for(:title, "Chillstep | soundsiLike") %>
<%= content_for(:description, "Free Hot & Trending Chillstep Downloads from SoundCloud") %>
<h1 class="page-title">Chillstep</h1>
<%= render :partial => 'layouts/genrebody' %>