<%= content_for(:title, "Dropstep | soundsiLike") %>
<%= content_for(:description, "Free Hot & Trending Dropstep Downloads from SoundCloud") %>
<h1 class="page-title">Dropstep</h1>
<%= render :partial => 'layouts/genrebody' %>