<%= content_for(:title, "Drumstep | soundsiLike") %>
<%= content_for(:description, "Free Hot & Trending Drumstep Downloads from SoundCloud") %>
<h1 class="page-title">Drumstep</h1>
<%= render :partial => 'layouts/genrebody' %>