<%= content_for(:title, "Dubstep | soundsiLike") %>
<%= content_for(:description, "Free Hot & Trending Dubstep Downloads from SoundCloud") %>
<h1 class="page-title">Dubstep</h1>
<%= render :partial => 'layouts/genrebody' %>