<%= content_for(:title, "Liquid Dubstep | soundsiLike") %>
<%= content_for(:description, "Free Hot & Trending Liquid Dubstep Downloads from SoundCloud") %>
<h1 class="page-title">Liquid Dubstep</h1>
<%= render :partial => 'layouts/genrebody' %>