<%= content_for(:title, "Lovestep | soundsiLike") %>
<%= content_for(:description, "Free Hot & Trending Lovestep Downloads from SoundCloud") %>
<h1 class="page-title">Lovestep</h1>
<%= render :partial => 'layouts/genrebody' %>