<%= content_for(:title, "Hardstyle | soundsiLike") %>
<%= content_for(:description, "Free Hot & Trending Hardstyle Downloads from SoundCloud") %>
<h1 class="page-title">Hardstyle</h1>
<%= render :partial => 'layouts/genrebody' %>