<%= content_for(:title, "Electro House | soundsiLike") %>
<%= content_for(:description, "Free Hot & Trending Electro House Downloads from SoundCloud") %>
<h1 class="page-title">Electro House</h1>
<%= render :partial => 'layouts/genrebody' %>