<%= content_for(:title, "House | soundsiLike") %>
<%= content_for(:description, "Free Hot & Trending House Downloads from SoundCloud") %>
<h1 class="page-title">House</h1>
<%= render :partial => 'layouts/genrebody' %>