<%= content_for(:title, "Moombahton | soundsiLike") %>
<%= content_for(:description, "Free Hot & Trending Moombahton Downloads from SoundCloud") %>
<h1 class="page-title">Moombahton</h1>
<%= render :partial => 'layouts/genrebody' %>