<%= content_for(:title, "Nu Disco | soundsiLike") %>
<%= content_for(:description, "Free Hot & Trending Nu Disco Downloads from SoundCloud") %>
<h1 class="page-title">Nu Disco</h1>
<%= render :partial => 'layouts/genrebody' %>