<%= content_for(:title, "Tech House | soundsiLike") %>
<%= content_for(:description, "Free Hot & Trending Tech House Downloads from SoundCloud") %>
<h1 class="page-title">Tech House</h1>
<%= render :partial => 'layouts/genrebody' %>