<%= content_for(:title, "Tribal House | soundsiLike") %>
<%= content_for(:description, "Free Hot & Trending Tribal House Downloads from SoundCloud") %>
<h1 class="page-title">Tribal House</h1>
<%= render :partial => 'layouts/genrebody' %>