<%= content_for(:title, "Progressive Trance | soundsiLike") %>
<%= content_for(:description, "Free Hot & Trending Progressive Trance Downloads from SoundCloud") %>
<h1 class="page-title">Progressive Trance</h1>
<%= render :partial => 'layouts/genrebody' %>