<h2>Dubstep</h2>
<ul class="list-group">
<% @hotmusic.each do |track| %>
<li class="list-group-item trackz">
<i class="fa fa-cloud-download fa-2x"></i><font style="color: #33485F !important; font-size: 18px; margin-left:10px;"><%= track.download_count %></font>
<p class="pull-right"><%= link_to "Download", "#{track.permalink_url}/download", :class => "btn btn-primary", :target => "_self" %></p>
<br>
<br>
<a href="<%= track.uri %>" class="sc-player"></a>
</li>
<% end %>
</ul>


