<br>
<center>
<img src="assets/sounds-i-like.png" width="50%">
<h1 class="frontpage-header">
	Discover Trending &amp; Hot Sounds
	<br>
	Only Browse Downloadable Content
	<br>
	Add to Your "Track Bin" to Download Later
</h1>

</center>