<%= content_for(:title, "soundsiLike") %>
<br>
<center>
<!-- <img src="assets/sounds-i-like.png" width="50%"> -->
<h1 class="fp-text">
	<i class="fa fa-fire-extinguisher"></i><br> Discover Trending &amp; Hot Sounds
</h1>
<br>
<h1 class="fp-text">
	<i class="fa fa-search"></i><br> Only Browse Downloadable Content
</h1>
<br>
<h1 class="fp-text">
	<i class="fa fa-plus"></i><br> Add to Your "Track Bin" to Download Later
</h1>

<% if current_user %>

<% else %>
<br>
<a href="/auth/facebook" class="btn btn-large btn-info">Login with Facebook</a>
<% end %>
</center>