<%= content_for(:title, "Trap | soundsiLike") %>
<%= content_for(:description, "Free Hot & Trending Trap Downloads from SoundCloud") %>
<h1 class="page-title">Trap</h1>
<%= render :partial => 'layouts/genrebody' %>