<h2>Trap</h2>

<div class="row thumbnails-row">

<% @hotmusic.each do |track| %>

       <div class="col-4">
        <div class="thumbnail">
           <%= image_tag track.artwork_url.to_s.gsub('-large', '-t300x300'), :class => "img img-polaroid" %>
           <span class="label label-info count"><%= track.download_count %></span>
           <h5 class="thumbnail-header">Some fancy title</h5>
           <span class="thumbnail-description">A very short description for the image</span>
        </div>  
       </div>







       <% end %>

    </div>