<%= content_for(:title, "Drum & Bass | soundsiLike") %>
<%= content_for(:description, "Free Hot & Trending Drum and Bass Downloads from SoundCloud") %>
<h1 class="page-title">Drum &amp; Bass</h1>
<%= render :partial => 'layouts/genrebody' %>