<%= content_for(:title, "Minimal | soundsiLike") %>
<%= content_for(:description, "Free Hot & Trending Minimal Downloads from SoundCloud") %>
<h1 class="page-title">Minimal</h1>
<%= render :partial => 'layouts/genrebody' %>