/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require normalize
 *= require furatto
 *= require component
 *= require icons
 *= require plangular

 */


@font-face {
    font-family: 'sifonnbasic_outline';
    src: url('fonts/sifonn_basic_outline-webfont.eot');
    src: url('fonts/sifonn_basic_outline-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sifonn_basic_outline-webfont.woff') format('woff'),
         url('fonts/sifonn_basic_outline-webfont.ttf') format('truetype'),
         url('fonts/sifonn_basic_outline-webfont.svg#sifonnbasic_outline') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sifonnbasic';
    src: url('fonts/sifonn_basic-webfont.eot');
    src: url('fonts/sifonn_basic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sifonn_basic-webfont.woff') format('woff'),
         url('fonts/sifonn_basic-webfont.ttf') format('truetype'),
         url('fonts/sifonn_basic-webfont.svg#sifonnbasic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*.hidden-lg {
    display: inline !important;
}*/


.dropdown-menu {
    background-color: #343946 !important;
}

.scrollablearea {
    -webkit-overflow-scrolling: touch; //adding this line will enable inertial scrolling
}

.menutitle {
    padding-left: 44px;
}

.genretitle {
    padding-left: 10px;
}

.container-center {
    margin-top: 1% !important;
    width: 95% !important;
}

.menu-trigger {
    padding-bottom: 8px;/*
    padding-right: 30px;*/
    margin-top: 8px;
/*    margin-left: 12px;*/
}

a {
    color: #ECF0F1 !important;
}

a:hover {
    text-decoration: none !important;
}

.fp-text {
    font-size: 32px;
    line-height: 46px;
}

.page-title {
    margin: 20px 0;
}

.track-title {
    color:#f6f6f6;
    margin:0;
    margin-bottom: -4px;
}

.download-count {
    font-weight: 300;
    color: #f6f6f6;
}

.viewonsoundcloud {
    float: right;
    color: #f6f6f6;
}

.footer ul.inline li a {
    color: #f6f6f6 !important;
}

.copyright {
    color: #227FBB !important;
    font-weight: 600;
    margin: 0;
}


html {
        background-color: #34495E !important;
}


.panel-content {
	background-color: #34495E !important;
	padding-top: 40px;
}

.list-group {
    background-color: #ECF0F1;
    padding: 15px 15px;
    list-style: none;

}

.list-group-item {
   padding: 10px;
   opacity: 0.7;
}

.list-group-item:hover {
    opacity: 1;
}

.list-group-item:focus {
    opacity: 1;
}

ul {
    margin: 0 !important;
}


h1, h2, h3, h4, h5, h6	{
color:#f6f6f6 !important;
-webkit-user-select: none;
}

h1 {
    padding-left: 8px;
}

h2 {
    padding-left: 22px;
}

.downloadbin-title {
    padding-left: 0;
    margin: 20px 0;
}

.frontpage-header {
	font-family: 'sifonnbasic';
}


.frontpage-header-outline {
	font-family: 'sifonnbasic_outline';
}

form {
    margin: 0!important;
}

p {
    color: #95A5A6;
}