<div class="mp-level">
  <% if current_user %>
  <h4 class="menutitle"><%= current_user.first_name %></h4>
  <% end %>
  <ul>
    <li class="icon icon-arrow-left">
      <a class="icon icon-vynil" href="#">Genres</a>
      <div class="mp-level">
        <h3 class="icon icon-vynil genretitle">Genres</h3>
        <a class="mp-back" href="#">back</a>
        <ul>
          <li><a href="drum-and-bass">Drum &amp; Bass</a></li>
          <li class="icon icon-arrow-left">
            <a href="#">Dubstep</a>
            <div class="mp-level">
              <h3 class="menutitle">Dubstep</h3>
              <a class="mp-back" href="#">back</a>
              <ul>
                <li><a href="chillstep">Chillstep</a></li>
                <li><a href="dropstep">Dropstep</a></li>
                <li><a href="drumstep">Drumstep</a></li>
                <li><a href="dubstep">Dubstep</a></li>
                <li><a href="liquid-dubstep">Liquid Dubstep</a></li>
                <li><a href="lovestep">Lovestep</a></li>
              </ul>
            </div>
          </li>
          <li><a href="hardstyle">Hardstyle</a></li>
          <li class="icon icon-arrow-left">
            <a href="#" class-"menutitle">House</a>
            <div class="mp-level">
              <h3 class="menutitle">House</h3>
              <a class="mp-back" href="#">back</a>
              <ul>
                <li><a href="acid-house">Acid House</a></li>
                <li><a href="big-room-house">Big Room House</a></li>
                <li><a href="chicago-house">Chicago House</a></li>
                <li><a href="club-house">Club House</a></li>
                <li><a href="deep-house">Deep House</a></li>
                <li><a href="dutch-house">Dutch House</a></li>
                <li><a href="electro-house">Electro House</a></li>
                <li><a href="funky-house">Funky House</a></li>
                <li><a href="house">House</a></li>
                <li><a href="moombahton">Moombahton</a></li>
                <li><a href="nu-disco">Nu Disco</a></li>
                <li><a href="progressive-house">Progressive House</a></li>
                <li><a href="tech-house">Tech House</a></li>
                <li><a href="tribal-house">Tribal House</a></li>
              </ul>
            </div>
          </li>
          <li><a href="minimal">Minimal</a></li>
          <li class="icon icon-arrow-left">
            <a href="#" class="menutitle">Trance</a>
            <div class="mp-level">
              <h3 class="menutitle">Trance</h3>
              <a class="mp-back" href="#">back</a>
              <ul>
                <li><a href="goa-trance">Goa Trance</a></li>
                <li><a href="hard-trance">Hard Trance</a></li>
                <li><a href="progressive-trance">Progressive Trance</a></li>
                <li><a href="psy-trance">Psy-Trance</a></li>
                <li><a href="tech-trance">Tech Trance</a></li>
                <li><a href="trance">Trance</a></li>
                <li><a href="uplifting-trance">Uplifting Trance</a></li>
                <li><a href="vocal-trance">Vocal Trance</a></li>
              </ul>
            </div>
          </li>
          <li><a href="trap">Trap</a></li>
        </ul>
      </div>
    </li>
    <% if current_user %>
    <li><a href="downloads" class="icon icon-data">Download Bin</a></li>
    <li><a href="signout" class="icon icon-lock">Logout</a></li>
    <% else %>
    <li><a href="auth/facebook" class="icon icon-key">Login with Facebook</a></li>
    <% end %>
  </ul>
</div>
</nav>
